.overlay
#sidebar-wrapper.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  ul.nav.sidebar-nav
    li.sidebar-brand: a(href="/") Py.task Helper
    li.dropdown
      a.dropdown-toggle(href="#", data-toggle="dropdown")
        | Все задачи
        span.caret
      ul.dropdown-menu(role="menu")
        each task in tasks
          li: a(href="/tasks/#{task.name}") #{task.name}
    li: a(href="/tasks") Таблица задач
    li: a(href="/about") About
    li: a(href="http://anytask.urgu.org") AnyTask
  p.copyright
    | &copy; Py.task 2016
include hamburger
