doctype html
html(lang="ru")
  include head
  body
    #wrapper
      include menu
      #page-content-wrapper
        .container
          .row
            .col-lg-8.col-lg-offset-2
              block content
    include metrika
    include scripts
