body {
  position: relative;
}
body,
html {
  height: 100%;
}
.index-header {
  margin: 0px auto 30px;
  width: 100%;
  text-align: center;
}
.panel-default {
  border-radius: 0;
}
.task {
  padding: 10px 20px;
}
.task h2 {
  margin-top: 10px;
}
.task hr {
  margin: 5px auto;
}
.copyright {
  position: absolute;
  width: 100%;
  display: inline-block;
  bottom: 0;
  margin: 10px;
  color: #a3a3a3;
}
