body
  position: relative

body, html
  overflow-x: hidden
  height: 100%

.index-header
  margin: 0px auto 30px
  width: 100%
  text-align: center
  
.task
  padding: 10px 20px
  margin: 10px auto
  h2
    margin-top: 10px
  hr
    margin: 5px auto

.copyright
  position: absolute
  width: 100%
  display: inline-block
  bottom: 0
  margin: 10px
  color: #a3a3a3
  
.point-list
  list-style-type: none
