html
  position: relative
  min-height: 100%
  overflow-x: hidden

body
  margin: 50px auto
  > .container
    padding: 0 15px 60px

.navbar
  width: 100%
  border-radius: 0
  margin: 0
  #menu-toggle
    float: left
    margin-left: 10px
    margin-right: 20px

.panel
  border-radius: 0

.task
  padding: 10px 20px
  height: 250px
  h2
    margin-top: 10px
  hr
    margin: 5px auto

.to-up
  position: absolute
  bottom: 6px

#footer-row
  margin-left: 0

.footer
  position: fixed
  bottom: 0
  width: 100%
  height: 60px
  background-color: #f5f5f5
  > .container
    padding-right: 15px
    padding-left: 15px
    display: flex
    .text-muted
      margin: 20px 5px
