extends page

block title
  title About | Py.task

block content
  h1.index-header About
  h3 Pytask.info
  h5 Анализатор python.task с сайта anytask.urgu.org
  div

    p Проект начат 31 января 2016 года. В рамках проекта существуют:
    h3 Технологии
    dl
      dt Парсер сайта:
      dd
        ul
          li: a(href="http://python.org") Python
          li: a(href="https://pypi.python.org/pypi/beautifulsoup4") BeautifulSoup4

      dt Дополнение для браузера Chrome:
      dd
        ul
          li: a(href="https://jquery.com/") jQuery
          li: a(href="https://developer.chrome.com/extensions") Chrome Extension

      dt Данный сайт:
      dd
        ul
          li: a(href="https://nodejs.org/en/") Node.js
            ul
              li: a(href="https://gulpjs.com/") Gulp
              li: a(href="https://jade-lang.com/") Jade
              li: a(href="https://coffeescript.org/") CoffeeScript
              li: a(href="https://stylus-lang.com/") Stylus
          li: a(href="https://jquery.com/") jQuery
          li: a(href="https://getbootstrap.com/") Bootstrap
          li: a(href="https://github.com/HubSpot/sortable") Sortable tables
  div
    p Кроме прочего мы используем:
    dl
      dt Server
      dd
        ul
          li: a(href="https://www.raspberrypi.org/") Raspberry Pi
          li: a(href="https://www.linux.com/") GNU/Linux
          li: a(href="https://www.gnu.org/software/bash/") Bash
      dt Для написания кода мы использовали:
      dd
         ul
          li: a(href="https://sublimetext.com/") Sublime Text 3
          li: a(href="https://www.jetbrains.com/pycharm/") JetBrains PyCharm
          li: a(href="https://www.jetbrains.com/webstorm/") JetBrains WebStorm
  div
    p
      | Исходный код доступен на:&nbsp;
      a(href="https://github.com/avefablo/AnyTaskAnalyzer") GitHub
    p
      | Группа проекта ВКонтакте:&nbsp;
      a(href="http://vk.com/py.task") Link
  div
    h3 Разработчики
    div
      p Антон Зырянов
      ul
        li: a(href="http://vk.com/avefablo") ВКонтакте
        li: a(href="http://twitter.com/avefablo") Twitter
    div
      p Вихарев Слава
      ul
        li: a(href="http://vk.com/id66971841") ВКонтакте
  div
    h3 Donate
    p
      | Yandex.Money&nbsp;
      a(href="https://money.yandex.ru/to/410012901386715") Donate