footer.footer
  .container
    p.text-muted Py.task Helper 2016
    p.text-muted: a(href="http://anytask.urgu.org") Anytask

script(src="/js/jquery-2.2.0.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/all.js")