head
  title Py.task
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
  meta(name="description", content="Статистика python.task с сайта anytask.urgu.org")
  meta(property="og:title", content="Py.task Helper")
  meta(property="og:image", content="http://pytask.info/icons/img.jpg")
  meta(property="og:description", content="Статистика python.task")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://pytask.info")
  link(rel="apple-touch-icon", href="/icons/128.ico")
  link(rel="apple-touch-icon-precomposed", href="/icons/128.ico")
  link(rel="stylesheet", href="/css/bootstrap.min.css")
  link(rel="stylesheet", href="/css/sidebar.css")
  block add_links
  link(rel="stylesheet", href="/css/main.css")
  link(rel="icon", href="/icons/16.ico")