head
  title Py.task
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  link(rel="stylesheet", href="http://pytask.info/css/bootstrap.min.css")
  link(rel="stylesheet", href="http://pytask.info/css/sidebar.css")
  link(rel="stylesheet", href="http://pytask.info/css/main.css")
  link(rel="icon", href="/icons/16.ico")