doctype html
html(lang="ru")
  include head
  body
    #wrapper.toggled
      include menu
      include navbar
      
      #page-content-wrapper
        .container
          .row
            .col-lg-12
              h1 Hello #{name}

              h3 Dependencies:
              ol
                each ver, name in dependencies
                  li #{name} #{ver}
                  
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dignissimos commodi porro quas. Numquam sint iste recusandae deserunt laborum provident, reprehenderit fugiat eius odio. Qui distinctio commodi modi aliquid doloribus.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dignissimos commodi porro quas. Numquam sint iste recusandae deserunt laborum provident, reprehenderit fugiat eius odio. Qui distinctio commodi modi aliquid doloribus.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dignissimos commodi porro quas. Numquam sint iste recusandae deserunt laborum provident, reprehenderit fugiat eius odio. Qui distinctio commodi modi aliquid doloribus.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dignissimos commodi porro quas. Numquam sint iste recusandae deserunt laborum provident, reprehenderit fugiat eius odio. Qui distinctio commodi modi aliquid doloribus.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dignissimos commodi porro quas. Numquam sint iste recusandae deserunt laborum provident, reprehenderit fugiat eius odio. Qui distinctio commodi modi aliquid doloribus.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dignissimos commodi porro quas. Numquam sint iste recusandae deserunt laborum provident, reprehenderit fugiat eius odio. Qui distinctio commodi modi aliquid doloribus.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dignissimos commodi porro quas. Numquam sint iste recusandae deserunt laborum provident, reprehenderit fugiat eius odio. Qui distinctio commodi modi aliquid doloribus.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dignissimos commodi porro quas. Numquam sint iste recusandae deserunt laborum provident, reprehenderit fugiat eius odio. Qui distinctio commodi modi aliquid doloribus.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dignissimos commodi porro quas. Numquam sint iste recusandae deserunt laborum provident, reprehenderit fugiat eius odio. Qui distinctio commodi modi aliquid doloribus.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dignissimos commodi porro quas. Numquam sint iste recusandae deserunt laborum provident, reprehenderit fugiat eius odio. Qui distinctio commodi modi aliquid doloribus.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dignissimos commodi porro quas. Numquam sint iste recusandae deserunt laborum provident, reprehenderit fugiat eius odio. Qui distinctio commodi modi aliquid doloribus.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dignissimos commodi porro quas. Numquam sint iste recusandae deserunt laborum provident, reprehenderit fugiat eius odio. Qui distinctio commodi modi aliquid doloribus.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dignissimos commodi porro quas. Numquam sint iste recusandae deserunt laborum provident, reprehenderit fugiat eius odio. Qui distinctio commodi modi aliquid doloribus.

    include foot