doctype html
html(lang="ru")
  include head
  body
    #wrapper.toggled
      include menu
      include navbar
      
      #page-content-wrapper
        .container
          .row
            .col-lg-12
              a#menu-toggle.btn.btn-default.navbar-btn All Tasks
              each task, name in data
                h1 #{name}
                ul
                each value, field in task
                  li #{field}: #{value}

      include foot