#sidebar-wrapper
  ul.sidebar-nav
    li.sidebar-brand All Tasks
    if tasks
        each task in tasks
          li: a(href="http://pytask.info/tasks/#{task}.html") #{task}
    else
        each task in locals
          li: a(href="http://pytask.info/tasks/#{task.name}.html") #{task.name}