#sidebar-wrapper
  ul.sidebar-nav
    li.sidebar-brand All Tasks
    li: a(href="#") Link
    li: a(href="#") Link
    li: a(href="#") Link
    li: a(href="#") Link
    li: a(href="#") Link
    li: a(href="#") Link
    li: a(href="#") Link
    li: a(href="#") Link
    li: a(href="#") Link
