.overlay
#sidebar-wrapper.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  ul.nav.sidebar-nav
    li.sidebar-brand: a(href="/") Py.task Helper
    li.dropdown
      a.dropdown-toggle(href="#", data-toggle="dropdown")
        | Все задачи
        span.caret
      ul.dropdown-menu(role="menu")
        include tasklist
    li: a(href="/table.html") Таблица задач
    li: a(href="/about.html") About
    li: a(href="http://anytask.urgu.org") AnyTask
  p.copyright
    | &copy; Py.task 2016