nav.navbar.navbar-default
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a#menu-toggle.btn.btn-default.navbar-btn All Tasks
      a.navbar-brand(href="/") Py.task
  
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(href="about.html") About
        li: a(href="http://anytask.urgu.org") Anytask
