doctype html
html(lang="ru")
  include head
  body
    #wrapper.toggled
      include menu
      
      include navbar
      #page-content-wrapper
        .container
          .row
            .col-lg-12
              block content
      #footer-row.row
        include foot
